/*======== All Common Mixin Include Is Here ========*/
//--- Border mixins ---//
@mixin border($style, $color, $sides) {
    @if ($style != "") {
        @if ($sides == "") {
            border: $style $color;
        } @else {
            @each $side in $sides {
               @if ($side == 'top' or
                    $side == 'right' or
                    $side == 'bottom' or
                    $side == 'left') {
                    border-#{$side}: $style $color;
                }
            }
        }

    }
}
//--- For color opacity ---//
@mixin background-opacity($color, $opacity) {
    background: $color;
    background: rgba($color, $opacity);
}
